.app {
  text-align: center;
  height: 100%;
  min-height: 100%;
   
}
html{
  background: rgb(158, 243, 245);
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.icons-list{
  margin-top: auto;
}



.app-header {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(110, 193, 195, 0.959) 0%, rgba(199,151,46,0.9081757703081232) 100%);
  max-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 22, 22);
  position: sticky;
}

.app-link {
  color: #12061b;
}

.icons-list {
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: #64d0ff;
  height: 7vh;
  
  margin-top: 35px;
  padding-top: 0px;
  bottom: 0;
  z-index: 1;


}

.social-media-list {
  display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
    list-style: none;
    padding-top: 15px;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    margin-inline-start: 30%;
    }

.h3-text {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-top: 0px;
}
.h4-text {
  padding-top: 0px;
  margin-top: 2px;
  color: rgb(40, 7, 82);
}
.logo {
  background-size: cover;
  display: block;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  width: 20vh;
 height: 20vh;
 margin-top: 1vh;
}